.task {
    list-style-type: square;
}

.task.work {
    color: blue;
}

.task.home {
    color: green;
}

.task.play {
    color: pink;
}

button.delete {
    background: 0;
    border: 0;
    cursor: pointer;
}